/* border-bottom: 1px solid #eee; */


.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /出品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

/* 以下画像登録機能改造のため追加 */

.image-drop-container {
  display: flex;
  width: 100%;
}

.image-container {
  width: 100%;
}

.image-title {
  width: 100%;
  text-align: center;
  font-size: 1vw;
  background-color: white;
}

.image-area {
  width: 100%;
  height: 150px;
  padding-top: 50px;
  border: 1px dashed gray;
  text-align: center;
  background-color: white;
  color: gray;
  position:relative
}

.image-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: 2;
  background-color: white;
}

.image-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
}

.delete-btn {
  width: 50%;
  background-color: rgb(196, 193, 193);
  color: white;
  font-size: 0.8vw;
  border-radius: 0.5vw;
  text-align: center;
  margin: 0.2vw auto 0;
}

.tag-item-container {
  display: flex;
}

.tag-input-container {
  width: 50%;
  position: relative;
}

.tags-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.tags-title {
  width:100%
}

.tag-input {
  display: flex;
}

.item-tag {
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.tag-create-btn {
  padding: 10px 16px;
  margin: 10px 10px;
  background-color: #ccc;
  color: white;
  font-size: 0.8vw;
  border-radius: 0.5vw;
  text-align: center;
}

.tag-container {
  display: flex;
  align-items: center;
  height: 25px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 12.5px;
  font-size: 20px;
  padding: 1pxps
}

.tag-name {
  padding: 0 5px;
}

.tag-delete-btn{
  color: red;
}

.show-width {
  flex-shrink: 0;  
  width: 20%;
}

.modal-main{
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: 80%;
  background: whitesmoke;
  padding: 15px;
  top: 50px;
  z-index: 5;
  opacity: 1;
  animation-fill-mode: forwards;
}

.modal-cover{
  background: rgba(119, 119, 119, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 4;
}

.scroll_stop{
  overflow: hidden;
}

.modal-delete-btn{
  color: orangered;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 6;
  font-size: 50px;
}